<!-- ko if: isEnabled() -->
<div class="step-title newsletter-title" data-role="title" data-bind="i18n: 'Newsletter'"></div>
<div class="newsletter-subscribe">
    <div class="field">
        <div class="control">
            <input class="input-text" type="checkbox" data-bind="textInput: 1, checked: isCheckedByDefault" name="newsletter-subscribe" id="newsletter-subscribe" />
            <label class="label" for="newsletter-subscribe">
                <span data-bind="i18n: getCheckoutLabel"></span>
            </label>
        </div>
    </div>
</div>
<!-- /ko -->