<!-- ko if: isVisible()  -->
<div class="social-login">
    <a data-bind="visible: isProviderEnabled('facebook'), attr: { href: getProviderUrl('facebook') }"><i class="fa fa-facebook-square fa-3x"></i></a>
    <a data-bind="visible: isProviderEnabled('twitter'), attr: { href: getProviderUrl('twitter') }" href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
    <a data-bind="visible: isProviderEnabled('google'), attr: { href: getProviderUrl('google') }" href="#"><i class="fa fa-google-plus-square fa-3x"></i></a>
</div>
<!-- /ko -->