<?xml version="1.0"?>
<!--
    Copyright © 2017 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clean_checkout>
            <general>
                <disable_company>1</disable_company>
                <disable_telephone>0</disable_telephone>
                <disable_header>1</disable_header>
                <disable_footer>1</disable_footer>
                <disable_copyright>1</disable_copyright>
                <hide_shipping_methods>1</hide_shipping_methods>
                <hide_shipping_title>1</hide_shipping_title>
                <display_logo>1</display_logo>
                <disable_login_popup>1</disable_login_popup>
                <force_totals_full_mode>1</force_totals_full_mode>
                <move_cart_items>1</move_cart_items>
                <force_luma_checkout>0</force_luma_checkout>
            </general>
            <colors>
                <body_background>transparent</body_background>
                <checkout_background>#f5f5f5</checkout_background>
                <checkout_border>#cccccc</checkout_border>
            </colors>
            <geo_ip>
                <enabled>1</enabled>
            </geo_ip>
            <newsletter>
                <enabled>1</enabled>
                <checked>1</checked>
                <label>Subscribe to our newsletter to receive exclusive offers and the latest news on our products and services.</label>
            </newsletter>
            <back_to_store>
                <enabled>0</enabled>
                <label>Back to Store</label>
            </back_to_store>
        </clean_checkout>
    </default>
</config>