<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simple_checkout>
            <general>
                <disable_company>1</disable_company>
                <disable_telephone>0</disable_telephone>
                <disable_header>1</disable_header>
                <disable_footer>1</disable_footer>
                <disable_copyright>1</disable_copyright>
                <hide_shipping_methods>1</hide_shipping_methods>
                <display_logo>1</display_logo>
                <disable_login_popup>1</disable_login_popup>
            </general>
            <colors>
                <body_background>transparent</body_background>
                <checkout_background>#f5f5f5</checkout_background>
                <checkout_border>#cccccc</checkout_border>
            </colors>
        </simple_checkout>
    </default>
</config>