<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Rubic_SimpleCheckout" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Checkout" />
            <module name="Magento_Customer" />
            <module name="Magento_Directory" />
        </sequence>
    </module>
</config>
