/**
 * Copyright © 2017 Rubic. All rights reserved.
 * See LICENSE.txt for license details.
 */

.fieldset.address .field .label {
    width: 40%;
    float: left;
    margin-bottom: 0px;
    line-height: 30px;
    text-align: left;
    padding: 0px;
    font-weight: normal;
}

.fieldset.address .field .control {
    width: 60%;
    float: right;
}

.fieldset.address > .field {
    clear: both;
    padding: 10px 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.fieldset.address .street {
    margin-bottom: 0px;
}

.fieldset.address .street .field .control {
    width: 100%;
}

.opc-wrapper .form-login {
    margin-bottom: 0px;
}

.opc-wrapper .loading-mask {
    background-color: transparent;
}

.checkout-shipping-method {
    padding-top: 10px;
}

#welcome .actions-toolbar .primary {
    float: right;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
    margin: 0px;
}

#welcome .actions-toolbar div.primary {
    padding: 0px;
}

.opc-wrapper .step-title {
    border-bottom: none;
}

.opc-block-summary .table-totals {
    border-top: none;
}

.checkout-index-index .logo {
    display: block;
    margin: 15px;
    margin-left: 0px;
}

#checkout-step-payment .fieldset > br {
    display: none;
}

#checkout-step-shipping {
    margin-bottom: 0px;
}

.opc-wrapper .newsletter-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.newsletter-subscribe label {
    float: left;
    width: 90%;
}

.newsletter-subscribe input[type="checkbox"] {
    margin: 4px 8px 0px 0px;
    float: left;
}

.billing-address-form {
    margin-bottom: 20px;
}

.clean-checkout-footer {
    padding: 0px 5px;
    margin-bottom: 25px;
}

.clean-checkout-footer-wrapper > div {
    display: inline-block;
    float: left;
}

.clean-checkout-footer-wrapper .clean-checkout-footer {
    float: right;
}

.opc-estimated-wrapper {
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 0px 20px;
}

.opc-estimated-wrapper .estimated-block {
    margin: 10px 0px;
}

.opc-wrapper .form-login,
.opc-wrapper .form-shipping-address,
.opc-wrapper .methods-shipping {
    background-color: #fff;
}

.opc-wrapper .form-shipping-address {
    margin: 0px;
    padding: 20px 0px;
}

.opc-wrapper .methods-shipping {
    padding-top: 10px;
    margin-top: 0px;
}

.opc-wrapper .methods-shipping {
    border-bottom: 0px;
}

.columns .column.main {
    padding-bottom: 0px;
}

.checkout-index-index .logo {
    float: none;
}

.action-edit-address {
    margin-top: 15px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-google-plus-square {
    color: #dd4b39;
}

.social-login i {
    margin-right: 5px;
}

.checkout-payment-method .payment-methods {
    margin: 0px;
}

.form-next-step {
    margin-top: 20px;
}

.form-login .hidden-fields > .field {
    width: calc(100% - 75px);
    margin: 0px;
    float: left;
}

.form-login .hidden-fields .actions-toolbar {
    float: right;
    width: 70px;
    margin-top: 28px;
}

.form-login .hidden-fields .secondary {
    clear: both;
    padding-top: 10px;
}

.form-login .hidden-fields .actions-toolbar button.login {
    margin-right: 0px;
}
