/**
 * Copyright © 2018 Rubic. All rights reserved.
 * See LICENSE.txt for license details.
 */

.page-main {
    max-width: 1000px;
    padding-left: 40px;
    padding-right: 40px;
}

.opc-progress-bar {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.opc-progress-bar-item > span:before {
    height: 46px;
    width: 46px;
    margin-left: -22px;
}

.opc-progress-bar-item > span:after {
    height: 28px;
    width: 34px;
    margin-left: -16px;
    padding-top: 6px;
}

.opc-progress-bar-item > span {
    padding-top: 60px;
}

.opc-progress-bar-item._complete > span:after,
.opc-progress-bar-item._active > span:after,
.opc-progress-bar-item > span:after {
    font: normal normal normal 20px/1 FontAwesome;
}

.opc-progress-bar-item > span.opc-progress-bar-item-email:after {
    content: "\f007";
}

.opc-progress-bar-item > span.opc-progress-bar-item-shipping:after {
    content: "\f0d1";
}

.opc-progress-bar-item > span.opc-progress-bar-item-payment:after {
    content: "\f09d";
}

.opc-progress-bar-item._complete > span:after {
    content: "\f00c";
}

.opc-wrapper .form-login {
    border-bottom: none;
}

.opc-sidebar {
    width: 40%;
    margin-top: 0px;
}

.opc-wrapper {
    width: 60%;
    margin-bottom: 0px;
}

.opc-wrapper .step-title {
    padding-bottom: 0px;
}

#checkout {
    margin-top: 50px;
    padding: 50px;
    padding-bottom: 0px;
    padding-top: 40px;
    clear: both;
    margin-bottom: 40px;
}

.opc-block-summary {
    padding-top: 0px;
    padding-right: 0px;
    background-color: transparent;
    padding-bottom: 0px;
}

.opc-wrapper .form-login,
.opc-wrapper .form-shipping-address,
.opc-wrapper .methods-shipping {
    background-color: transparent;
}

.opc-block-shipping-information {
    padding-right: 0px;
}

.checkout-index-index .logo {
    margin-top: 25px;
    margin-bottom: -25px;
}

.opc-wrapper .form-login {
    padding-bottom: 0px;
}

.clean-checkout-footer-wrapper {
    margin-top: -35px;
    margin-bottom: 40px;
}

.opc-wrapper .shipping-address-item {
    width: 50%;
}

.authentication-wrapper {
    margin-top: -85px;
    margin-right: -45px;
}

@media (min-width: 768px) {
    .table-checkout-shipping-method {
        width: 100%;
    }
}
