<?xml version="1.0"?>
<!--
    Copyright © 2017 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="modify_checkout_layout" type="Rubic\CleanCheckout\Plugin\ModifyCheckoutLayoutPlugin" />
    </type>
    <type name="Magento\Tax\Model\TaxConfigProvider">
        <plugin name="geo_ip_country" type="Rubic\CleanCheckout\Plugin\GeoIpCountryPlugin" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="clean_checkout_config_provider" xsi:type="object">Rubic\CleanCheckout\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Theme\Model\View\Design">
        <plugin name="force_luma_checkout" type="Rubic\CleanCheckout\Plugin\ForceLumaCheckoutPlugin" />
    </type>
    <preference for="Magento\Directory\Helper\Data" type="Rubic\CleanCheckout\Helper\Directory\Data" />
</config>