<?xml version="1.0"?>
<!--
    Copyright © 2017 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_render_before_checkout_index_index">
        <observer name="remove_containers_observer" instance="Rubic\CleanCheckout\Observer\RemoveContainersObserver" />
    </event>
</config>