<?xml version="1.0"?>
<!--
    Copyright © 2017 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="clean_checkout" translate="label" type="text" sortOrder="1500" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Clean Checkout</label>
            <tab>sales</tab>
            <resource>Rubic_CleanCheckout::clean_checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="force_totals_full_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Force Totals Full Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[By default, a full summary of cart totals is not shown until the shipping step has been completed.
                                      This can result in incorrect expectations because discounts are not displayed in the first step of the checkout.]]></comment>
                </field>
                <field id="move_cart_items" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Move Cart Items</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[This moves the location of the cart items in the checkout summary sidebar to be above the totals.]]></comment>
                </field>
                <field id="always_show_cart_items" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Always Show Cart Items</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[By default, the item block in the sidebar isn't expanded until shipping step has been processed. Use this option to always show items.]]></comment>
                </field>
                <field id="force_luma_checkout" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Force Luma Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Forces the Luma theme to be loaded for checkout pages, instead of the currently configured one. This may solve some incompatibility issues with custom themes.]]></comment>
                </field>
                <field id="redirect_to_checkout" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Redirect To Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Sends the customer to the checkout immediately after adding a product to cart.]]></comment>
                </field>
                <field id="step_transition_speed" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Step Transition Speed</label>
                    <comment><![CDATA[How fast (in milliseconds) checkout steps should fade in.]]></comment>
                </field>
                <field id="footer_content" translate="label comment" sortOrder="50" type="editor" showInStore="1" showInDefault="1" >
                    <label>Footer Content</label>
                    <frontend_model>Rubic\CleanCheckout\Block\Adminhtml\Editor</frontend_model>
                    <comment><![CDATA[You can edit this field to add content to the bottom right of your checkout. This is useful for displaying things such as supported payment methods.]]></comment>
                </field>
            </group>
            <group id="cleanup" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cleanup</label>
                <field id="disable_telephone" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Telephone Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_company" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Company Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_header" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Header</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_footer" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Footer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_copyright" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Copyright</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Disables the copyright bar in the bottom part of the page.]]></comment>
                </field>
                <field id="display_logo" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Display Logo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Best used in conjunction with the Disable Header and Disable Footer options.]]></comment>
                </field>
                <field id="disable_login_popup" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Disable Login Popup</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Disables the login pop-up in the top-right corner of checkout.
                                      Existing customers can still login when providing their e-mail in the checkout, regardless of this setting.]]></comment>
                </field>
            </group>
            <group id="shipping" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipping</label>
                <field id="hide_shipping_methods" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Shipping Methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Shipping methods are not shown when there is only a single available rate.]]></comment>
                </field>
                <field id="hide_shipping_title" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Hide Shipping Method Title</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Shipping method title is not shown in the summary sidebar. Note that it will still display a price for shipping.]]></comment>
                </field>
                <field id="shipping_validate_delay" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipping Validate Delay</label>
                    <comment><![CDATA[How fast (in milliseconds) to validate entered shipping information and request shipping rates. Magento 2 default is 2000 (2 seconds).]]></comment>
                </field>
            </group>
            <group id="colors" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Colors</label>
                <field id="checkout_background" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Checkout Background Color</label>
                    <frontend_model>Rubic\CleanCheckout\Block\Adminhtml\Colorpicker</frontend_model>
                </field>
                <field id="checkout_border" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Checkout Border Color</label>
                    <frontend_model>Rubic\CleanCheckout\Block\Adminhtml\Colorpicker</frontend_model>
                </field>
                <field id="body_background" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Body Background Color</label>
                    <frontend_model>Rubic\CleanCheckout\Block\Adminhtml\Colorpicker</frontend_model>
                </field>
            </group>
            <group id="geo_ip" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Geo IP</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Attempts to automatically detect customer's country.]]></comment>
                </field>
            </group>
            <group id="newsletter" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Adds a newsletter subscription component to the final step of the checkout.]]></comment>
                </field>
                <field id="checked" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Checked by Default</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Whether the subscribe checkbox is checked by default.]]></comment>
                </field>
                <field id="label" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Label</label>
                </field>
            </group>
            <group id="back_to_store" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Back to Store</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Adds a Go Back to Store link to the checkout.]]></comment>
                </field>
                <field id="label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Label</label>
                </field>
            </group>
            <group id="social_login" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Login</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Social Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Allows customers to login using their Social Media accounts from inside the checkout.</comment>
                </field>
                <field id="enable_twitter" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Twitter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="twitter_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Twitter Key</label>
                    <depends>
                        <field id="enable_twitter">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="twitter_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Twitter Secret</label>
                    <depends>
                        <field id="enable_twitter">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enable_facebook" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Facebook</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="facebook_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Facebook Key</label>
                    <depends>
                        <field id="enable_facebook">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="facebook_secret" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Facebook Secret</label>
                    <depends>
                        <field id="enable_facebook">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="enable_google" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Google</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="google_key" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Key</label>
                    <depends>
                        <field id="enable_google">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="google_secret" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Secret</label>
                    <depends>
                        <field id="enable_google">1</field>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="auto_complete" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Address Autocomplete</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Maps API Key</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Find your API Key here: https://developers.google.com/maps/documentation/javascript/get-api-key]]></comment>
                </field>
            </group>
            <group id="field_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Field Order</label>
                <field id="firstname" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>First Name</label>
                </field>
                <field id="middlename" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Middle Name</label>
                </field>
                <field id="lastname" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Last Name</label>
                </field>
                <field id="company" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Company</label>
                </field>
                <field id="street" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Street</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>City</label>
                </field>
                <field id="region_id" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Region</label>
                </field>
                <field id="postcode" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Postal Code</label>
                </field>
                <field id="country_id" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Country</label>
                </field>
                <field id="telephone" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Telephone</label>
                </field>
                <field id="vat_id" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>VAT ID</label>
                </field>
            </group>
        </section>
    </system>
</config>