fieldset.address .field .label {
    width: 30%;
    float: left;
    margin-bottom: 0px;
    line-height: 30px;
    text-align: left;
    padding: 0px;
    font-weight: normal;
}

fieldset.address .field .control {
    width: 70%;
    float: right;
}

fieldset.address > .field {
    clear: both;
    padding: 10px 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

fieldset.address .street {
    margin-bottom: 0px;
}

fieldset.address .street .field .control {
    width: 100%;
}

.opc-wrapper .form-login {
    margin-bottom: 0px;
}

.checkout-shipping-method {
    padding-top: 10px;
}

.opc-wrapper .form-login {
    border-bottom: none;
}

#checkout {
    margin-top: 50px;
    padding: 50px;
    padding-bottom: 0px;
    clear: both;
}

.opc-progress-bar {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.page-main {
    max-width: 1000px;
}

.authentication-wrapper {
    margin-top: -85px;
    margin-right: -45px;
}

.opc-wrapper .shipping-address-item {
    width: 50%;
}

#welcome-step .actions-toolbar .primary {
    float: right;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
}

.opc-sidebar {
    width: 40%;
    margin-top: 0px;
}

.opc-wrapper {
    width: 60%;
    margin-bottom: 0px;
}

.opc-block-summary {
    padding-top: 0px;
    padding-right: 0px;
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.opc-wrapper .step-title {
    border-bottom: none;
}

.opc-block-shipping-information {
    padding-right: 0px;
}

.opc-block-summary .table-totals {
    border-top: none;
}

.opc-block-summary .items-in-cart {
    margin-bottom: 20px;
}

.page-main > .logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#checkout-step-payment .fieldset > br {
    display: none;
}

#checkout-step-shipping {
    margin-bottom: 0px;
}

.opc-wrapper .newsletter-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.newsletter-subscribe label {
    float: right;
    width: 95%;
}

.billing-address-form {
    margin-bottom: 20px;
}

.back-to-store {
    padding: 0px 5px;
}