/**
 * Copyright © 2017 Rubic. All rights reserved.
 * See LICENSE.txt for license details.
 */

.page-main {
    max-width: 1000px;
}

.opc-progress-bar {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.opc-wrapper .form-login {
    border-bottom: none;
}

.opc-sidebar {
    width: 40%;
    margin-top: 0px;
}

.opc-wrapper {
    width: 60%;
    margin-bottom: 0px;
}

.opc-block-summary .items-in-cart {
    margin-bottom: 20px;
}

.opc-wrapper .step-title {
    padding-bottom: 0px;
}

#checkout {
    margin-top: 50px;
    padding: 50px;
    padding-bottom: 0px;
    clear: both;
    margin-bottom: 50px;
}

.opc-block-summary {
    padding-top: 0px;
    padding-right: 0px;
    background-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.opc-wrapper .form-login,
.opc-wrapper .form-shipping-address,
.opc-wrapper .methods-shipping {
    background-color: transparent;
}

.opc-block-shipping-information {
    padding-right: 0px;
}

.checkout-index-index .logo {
    margin-top: 25px;
    margin-bottom: -25px;
}

.opc-wrapper .form-login {
    padding-bottom: 0px;
}

.back-to-store {
    margin-top: -35px;
    margin-bottom: 50px;
}

.opc-wrapper .shipping-address-item {
    width: 50%;
}

.opc-wrapper .fieldset > .field.required > label:after {
    margin-left: 0px;
    position: inherit;
}