<?xml version="1.0" ?>
<!--
    Copyright © 2018 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="clean_checkout" frontName="clean_checkout">
            <module name="Rubic_CleanCheckout" />
        </route>
    </router>
</config>